a{
    text-decoration: none;
    color: black;
}
.card-container{
    width: 100%;
}
.cards{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}